body{
    background-color:white;
    text-align: center;
    color: black;
}

body h1{
    font-size:50px;
    font-weight:700;
    margin:70px;
}

body p{
    font-size: 30px;
    margin: 60px;
    margin-left: 170px;
    margin-right:170px;
}

body h3{
    font-size: 30px;
    color: black;
}